.file-card {
  width: calc(100% - 40px);
  height: calc(100dvh - 205px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border: 2px solid goldenrod;
  border-radius: 16px;
  position: relative;
  
  & h6 {
    color: black;
    text-align: center;
  }
  & img, & video {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 16px;
    object-fit: contain;
  }
  & .image-container {
    width: 100%;
    height: 100%;
    position: relative;

    & .fullscreen {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      color: goldenrod;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.2;
      }
      &:active {
        scale: 1.05;
        opacity: 0.8;
      }
    }
  }
  & audio {
    margin: 20px;
    border-radius: 32px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border: 2px solid goldenrod;
  }
  &:has(audio) {
    display: flex;
    justify-content: center;
    align-items: center;

    & audio {
      min-width: 300px;
      width: 80%;
    }
  }
  & .favorite {
    position: absolute;
    top: -25px;
    left: -10px;
    cursor: pointer;
    font-size: 2.5rem;
    color: goldenrod;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    
    &::before {
      content: '';
      display: block;
      background-color: white;
      border: 2px solid goldenrod;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: absolute;
      z-index: -1;
      top: 7.5px;
      left: -5px
    }
    
    &:hover {
      scale: 1.1;
    }
    &:active {
      color: goldenrod;
      opacity: 0.8;
      scale: 0.9;
    }
  }
}

.centerer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loading-spinner {
  max-height: 200px;
  max-width: 200px;
}