@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 252, 248));
  color: rgb(42, 22, 0);
  min-height: 100dvh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Doto', serif;
}